ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
  margin-left: auto;
}

li {
  font-size: 1.1em;
}

li:hover {
  color: #c5347d;
}

.h1 {
  font-size: 45px;
}
