.tool-container {
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.frame {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
}

blockquote {
  font-size: 2em;
  font-family: "Work Sans";
}
